/* Variables */
:root {
	--ontrial-vertical-navigation-width: 280px;
}

ontrial-vertical-navigation {
	position: sticky;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
	top: 0;
	width: var(--ontrial-vertical-navigation-width);
	min-width: var(--ontrial-vertical-navigation-width);
	max-width: var(--ontrial-vertical-navigation-width);
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	z-index: 50;

	/* ----------------------------------------------------------------------------------------------------- */
	/* @ Navigation Drawer
    /* ----------------------------------------------------------------------------------------------------- */

	/* Animations */
	&.ontrial-vertical-navigation-animations-enabled {
		transition-duration: 400ms;
		transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
		transition-property: visibility, margin-left, margin-right, transform, width, max-width, min-width;

		/* Wrapper */
		.ontrial-vertical-navigation-wrapper {
			transition-duration: 400ms;
			transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
			transition-property: width, max-width, min-width;
		}
	}

	/* Over mode */
	&.ontrial-vertical-navigation-mode-over {
		position: fixed;
		top: 0;
		bottom: 0;
	}

	/* Left position */
	&.ontrial-vertical-navigation-position-left {

		/* Side mode */
		&.ontrial-vertical-navigation-mode-side {
			margin-left: calc(#{var(--ontrial-vertical-navigation-width)} * -1);

			&.ontrial-vertical-navigation-opened {
				margin-left: 0;
			}
		}

		/* Over mode */
		&.ontrial-vertical-navigation-mode-over {
			left: 0;
			transform: translate3d(-100%, 0, 0);

			&.ontrial-vertical-navigation-opened {
				transform: translate3d(0, 0, 0);
			}
		}

		/* Wrapper */
		.ontrial-vertical-navigation-wrapper {
			left: 0;
		}
	}

	/* Right position */
	&.ontrial-vertical-navigation-position-right {

		/* Side mode */
		&.ontrial-vertical-navigation-mode-side {
			margin-right: calc(var(--ontrial-vertical-navigation-width) * -1);

			&.ontrial-vertical-navigation-opened {
				margin-right: 0;
			}
		}

		/* Over mode */
		&.ontrial-vertical-navigation-mode-over {
			right: 0;
			transform: translate3d(100%, 0, 0);

			&.ontrial-vertical-navigation-opened {
				transform: translate3d(0, 0, 0);
			}
		}

		/* Wrapper */
		.ontrial-vertical-navigation-wrapper {
			right: 0;
		}
	}

	/* Inner mode */
	&.ontrial-vertical-navigation-inner {
		position: relative;
		width: auto;
		min-width: 0;
		max-width: none;
		height: auto;
		min-height: 0;
		max-height: none;
		box-shadow: none;

		.ontrial-vertical-navigation-wrapper {
			position: relative;
			overflow: visible;
			height: auto;

			.ontrial-vertical-navigation-content {
				overflow: visible !important;
			}
		}
	}

	/* Wrapper */
	.ontrial-vertical-navigation-wrapper {
		position: absolute;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: 10;
		background: var(--ontrial-bg-card);
		box-shadow: inset -1px 0 0 var(--ontrial-border);

		/* Header */
		.ontrial-vertical-navigation-header {}

		/* Content */
		.ontrial-vertical-navigation-content {
			flex: 1 1 auto;
			overflow-x: hidden;
			overflow-y: auto;
			overscroll-behavior: contain;

			/* Divider */
			>ontrial-vertical-navigation-divider-item {
				margin: 24px 0;
			}

			/* Group */
			>ontrial-vertical-navigation-group-item {
				margin-top: 24px;
			}
		}

		/* Footer */
		.ontrial-vertical-navigation-footer {}
	}

	/* Aside wrapper */
	.ontrial-vertical-navigation-aside-wrapper {
		position: absolute;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		top: 0;
		bottom: 0;
		left: var(--ontrial-vertical-navigation-width);
		width: var(--ontrial-vertical-navigation-width);
		height: 100%;
		z-index: 5;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition-duration: 400ms;
		transition-property: left, right;
		transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
		background: inherit;

		>ontrial-vertical-navigation-aside-item {
			padding: 24px 0;

			/* First item of the aside */
			>.ontrial-vertical-navigation-item-wrapper {
				display: none !important;
			}
		}
	}

	&.ontrial-vertical-navigation-position-right {

		.ontrial-vertical-navigation-aside-wrapper {
			left: auto;
			right: var(--ontrial-vertical-navigation-width);
		}
	}

	/* ----------------------------------------------------------------------------------------------------- */
	/* @ Navigation Items
    /* ----------------------------------------------------------------------------------------------------- */

	/* Navigation items common */
	ontrial-vertical-navigation-aside-item,
	ontrial-vertical-navigation-basic-item,
	ontrial-vertical-navigation-collapsable-item,
	ontrial-vertical-navigation-divider-item,
	ontrial-vertical-navigation-group-item,
	ontrial-vertical-navigation-spacer-item {
		display: flex;
		flex-direction: column;
		flex: 1 0 auto;
		user-select: none;

		.ontrial-vertical-navigation-item-wrapper {

			.ontrial-vertical-navigation-item {
				position: relative;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding: 10px 16px;
				font-size: 13px;
				font-weight: 500;
				line-height: 20px;
				text-decoration: none;
				border-radius: 6px;

				/* Disabled state */
				&.ontrial-vertical-navigation-item-disabled {
					cursor: default;
					opacity: 0.4;
				}

				.ontrial-vertical-navigation-item-icon {
					margin-right: 16px;
				}

				.ontrial-vertical-navigation-item-title-wrapper {

					.ontrial-vertical-navigation-item-subtitle {
						font-size: 11px;
						line-height: 1.5;
					}
				}

				.ontrial-vertical-navigation-item-badge {
					margin-left: auto;

					.ontrial-vertical-navigation-item-badge-content {
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: 10px;
						font-weight: 600;
						white-space: nowrap;
						height: 20px;
					}
				}
			}
		}
	}

	/* Aside, Basic, Collapsable, Group */
	ontrial-vertical-navigation-aside-item,
	ontrial-vertical-navigation-basic-item,
	ontrial-vertical-navigation-collapsable-item,
	ontrial-vertical-navigation-group-item {

		>.ontrial-vertical-navigation-item-wrapper {
			margin: 0 12px;
		}
	}

	/* Aside, Basic, Collapsable */
	ontrial-vertical-navigation-aside-item,
	ontrial-vertical-navigation-basic-item,
	ontrial-vertical-navigation-collapsable-item {
		margin-bottom: 4px;

		.ontrial-vertical-navigation-item {
			cursor: pointer;
		}
	}

	/* Aside */
	ontrial-vertical-navigation-aside-item {}

	/* Basic */
	ontrial-vertical-navigation-basic-item {}

	/* Collapsable */
	ontrial-vertical-navigation-collapsable-item {

		>.ontrial-vertical-navigation-item-wrapper {

			.ontrial-vertical-navigation-item {

				.ontrial-vertical-navigation-item-badge {

					+.ontrial-vertical-navigation-item-arrow {
						margin-left: 8px;
					}
				}

				.ontrial-vertical-navigation-item-arrow {
					height: 20px;
					line-height: 20px;
					margin-left: auto;
					transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1),
						color 375ms cubic-bezier(0.25, 0.8, 0.25, 1);
				}
			}
		}

		&.ontrial-vertical-navigation-item-expanded {

			>.ontrial-vertical-navigation-item-wrapper {

				.ontrial-vertical-navigation-item {

					.ontrial-vertical-navigation-item-arrow {
						transform: rotate(90deg);
					}
				}
			}
		}

		>.ontrial-vertical-navigation-item-children {

			>*:first-child {
				margin-top: 6px;
			}

			>*:last-child {
				padding-bottom: 6px;

				>.ontrial-vertical-navigation-item-children {

					>*:last-child {
						padding-bottom: 0;
					}
				}
			}

			.ontrial-vertical-navigation-item {
				padding: 10px 16px;
			}
		}

		/* 1st level */
		.ontrial-vertical-navigation-item-children {
			overflow: hidden;

			.ontrial-vertical-navigation-item {
				padding-left: 56px;
			}

			/* 2nd level */
			.ontrial-vertical-navigation-item-children {

				.ontrial-vertical-navigation-item {
					padding-left: 72px;
				}

				/* 3rd level */
				.ontrial-vertical-navigation-item-children {

					.ontrial-vertical-navigation-item {
						padding-left: 88px;
					}

					/* 4th level */
					.ontrial-vertical-navigation-item-children {

						.ontrial-vertical-navigation-item {
							padding-left: 104px;
						}
					}
				}
			}
		}
	}

	/* Divider */
	ontrial-vertical-navigation-divider-item {
		margin: 12px 0;

		.ontrial-vertical-navigation-item-wrapper {
			height: 1px;
			box-shadow: 0 1px 0 0;
		}
	}

	/* Group */
	ontrial-vertical-navigation-group-item {

		>.ontrial-vertical-navigation-item-wrapper {

			.ontrial-vertical-navigation-item {

				.ontrial-vertical-navigation-item-badge,
				.ontrial-vertical-navigation-item-icon {
					display: none !important;
				}

				.ontrial-vertical-navigation-item-title-wrapper {

					.ontrial-vertical-navigation-item-title {
						font-size: 12px;
						font-weight: 600;
						letter-spacing: 0.05em;
						text-transform: uppercase;
					}
				}
			}
		}
	}

	/* Spacer */
	ontrial-vertical-navigation-spacer-item {
		margin: 6px 0;
	}
}

/* ----------------------------------------------------------------------------------------------------- */
/* @ Overlay
/* ----------------------------------------------------------------------------------------------------- */
.ontrial-vertical-navigation-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 49;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.6);

	+.ontrial-vertical-navigation-aside-overlay {
		background-color: transparent;
	}
}

/* ----------------------------------------------------------------------------------------------------- */
/* @ Aside overlay
/* ----------------------------------------------------------------------------------------------------- */
.ontrial-vertical-navigation-aside-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 169;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

/* ----------------------------------------------------------------------------------------------------- */
/* @ Navigation Items Colors
/* ----------------------------------------------------------------------------------------------------- */

/* Navigation items common */
ontrial-vertical-navigation-aside-item,
ontrial-vertical-navigation-basic-item,
ontrial-vertical-navigation-collapsable-item,
ontrial-vertical-navigation-group-item {

	.ontrial-vertical-navigation-item-wrapper {

		.ontrial-vertical-navigation-item {
			color: currentColor;

			.ontrial-vertical-navigation-item-icon {
				@apply text-current opacity-60;
			}

			.ontrial-vertical-navigation-item-title-wrapper {

				.ontrial-vertical-navigation-item-title {
					@apply text-current opacity-80;
				}

				.ontrial-vertical-navigation-item-subtitle {
					@apply text-current opacity-50;
				}
			}
		}
	}
}

/* Aside, Basic, Collapsable */
ontrial-vertical-navigation-aside-item,
ontrial-vertical-navigation-basic-item,
ontrial-vertical-navigation-collapsable-item {

	>.ontrial-vertical-navigation-item-wrapper {

		.ontrial-vertical-navigation-item {

			/* Active state */
			&:not(.ontrial-vertical-navigation-item-disabled) {

				&.ontrial-vertical-navigation-item-active,
				&.ontrial-vertical-navigation-item-active-forced {
					@apply bg-gray-800 bg-opacity-5 dark:bg-white dark:bg-opacity-12;

					.ontrial-vertical-navigation-item-icon {
						@apply opacity-100;
					}

					.ontrial-vertical-navigation-item-title {
						@apply opacity-100;
					}

					.ontrial-vertical-navigation-item-subtitle {
						@apply opacity-100;
					}
				}
			}

			/* Hover state */
			&:not(.ontrial-vertical-navigation-item-active-forced):not(.ontrial-vertical-navigation-item-active):not(.ontrial-vertical-navigation-item-disabled) {

				&:hover {
					@apply bg-gray-800 bg-opacity-5 dark:bg-white dark:bg-opacity-12;

					.ontrial-vertical-navigation-item-icon {
						@apply opacity-100;
					}

					.ontrial-vertical-navigation-item-title,
					.ontrial-vertical-navigation-item-arrow {
						@apply opacity-100;
					}

					.ontrial-vertical-navigation-item-subtitle {
						@apply opacity-100;
					}
				}
			}
		}
	}
}

/* Collapsable */
ontrial-vertical-navigation-collapsable-item {

	/* Expanded state */
	&.ontrial-vertical-navigation-item-expanded {

		>.ontrial-vertical-navigation-item-wrapper {

			.ontrial-vertical-navigation-item {

				.ontrial-vertical-navigation-item-icon {
					@apply opacity-100;
				}

				.ontrial-vertical-navigation-item-title,
				.ontrial-vertical-navigation-item-arrow {
					@apply opacity-100;
				}

				.ontrial-vertical-navigation-item-subtitle {
					@apply opacity-100;
				}
			}
		}
	}
}

/* Group */
ontrial-vertical-navigation-group-item {

	>.ontrial-vertical-navigation-item-wrapper {

		.ontrial-vertical-navigation-item {

			.ontrial-vertical-navigation-item-title-wrapper {

				.ontrial-vertical-navigation-item-title {
					@apply opacity-100 text-primary-600 dark:text-primary-400;
				}
			}
		}
	}
}