<?xml version="1.0" encoding="utf-8"?>
<RunSettings>

  <!-- MSTest adapter -->
  <MSTest>
    <Parallelize>
      <Workers>10</Workers>
      <Scope>MethodLevel</Scope>
    </Parallelize>
  </MSTest>

  <!-- Configurations that affect the Test Framework -->
  <RunConfiguration>
    <MaxCpuCount>1</MaxCpuCount>
    <ResultsDirectory>.\TestResults</ResultsDirectory>
    <TargetPlatform>x64</TargetPlatform>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </RunConfiguration>

  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
	  <Parameter name="driver.default" value="ontrial" />
	  <Parameter name="browser.default" value="chrome" />
	  <Parameter name="log.type" value="console" />
	  <Parameter name="log.directory" value="" />
	  
	  <!-- Automation Test Driver Types -->
	  <Parameter name="atd.web.type" value="default" />
	  <Parameter name="atd.desktop.type" value="default" />
	  <Parameter name="atd.mobile.type" value="default" />
  </TestRunParameters>
</RunSettings>