<!-- Flippable card -->
<ng-container *ngIf="flippable">

	<!-- Front -->
	<div class="ontrial-card-front">
		<ng-content select="[ontrialCardFront]"></ng-content>
	</div>

	<!-- Back -->
	<div class="ontrial-card-back">
		<ng-content select="[ontrialCardBack]"></ng-content>
	</div>

</ng-container>

<!-- Normal card -->
<ng-container *ngIf="!flippable">

	<!-- Content -->
	<ng-content></ng-content>

	<!-- Expansion -->
	<div class="ontrial-card-expansion" *ngIf="expanded" [@expandCollapse]>
		<ng-content select="[ontrialCardExpansion]"></ng-content>
	</div>

</ng-container>